@using EntityLayer.Concrete
@model List<Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    string color = "";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">    
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Başlık İşlemleri</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Başlık Adı
                            </th>
                            <th style="width: 15%">
                                Oluşturan Yazar
                            </th>
                            <th style="width: 10%">
                                Durum
                            </th>
                            <th style="width: 8%" class="text-center">
                                Kategori
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Category.CategoryName == "Kitap")
                            {
                                color = "badge badge-danger";
                            }
                            else if (item.Category.CategoryName == "Spor")
                            {
                                color = "badge badge-success";
                            }
                            else if (item.Category.CategoryName == "Yazılım")
                            {
                                color = "badge badge-primary";
                            }
                            else if (item.Category.CategoryName == "Film / Dizi")
                            {
                                color = "badge badge-warning";
                            }
                            else if (item.Category.CategoryName == "Eğitim")
                            {
                                color = "badge badge-secondary";
                            }
                            else if (item.Category.CategoryName == "Sanat")
                            {
                                color = "badge badge-info";
                            }
                            else if (item.Category.CategoryName == "Sanat")
                            {
                                color = "badge badge-info";
                            }
                            else if (item.Category.CategoryName == "Oyun Eğlence")
                            {
                                color = "badge badge-dark";
                            }
                        <tr>
                            <td>
                                @item.HeadingID
                            </td>
                            <td>
                                <a class="text-bold">
                                    @item.HeadingName
                                </a>
                                <br />
                                <small>
                                    @(((DateTime)item.HeadingDate).ToString("dd-MMM-yyyy"))
                                </small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <img alt="Avatar" class="table-avatar" src="@item.Writer.WriterImage">
                                    </li>
                                </ul>
                            </td>
                            <td>
                                @switch (item.HeadingStatus)
                                {
                                    case false:
                                        <span class="badge badge-danger">Pasif</span>
                                        break;
                                    case true:
                                        <span class="badge badge-success">Aktif</span>
                                        break;
                                    default:
                                        break;
                                }

                            </td>
                            <td class="project-state">
                                <span class="@color">@item.Category.CategoryName</span>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="/Content/ContentByHeading/@item.HeadingID">
                                    <i class="fas fa-folder">
                                        İçerikler
                                    </i>
                                </a>
                                <a class="btn btn-info btn-sm" href="/Heading/EditHeading/@item.HeadingID">
                                    <i class="fas fa-pencil-alt">
                                        Düzenle
                                    </i>
                                </a>
                                @switch (item.HeadingStatus)
                                {
                                    case false:
                                        <a class="btn btn-success btn-sm" href="/Heading/EnableHeading/@item.HeadingID">
                                            <i class="fas fa-ambulance">
                                            </i>
                                            Aktif Yap
                                        </a>
                                        break;
                                    case true:
                                        <a class="btn btn-danger btn-sm" href="/Heading/DeleteHeading/@item.HeadingID">
                                            <i class="fas fa-trash">
                                            </i>
                                            Pasif Yap
                                        </a>
                                        break;
                                    default:
                                        break;
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>

    <a href="/Heading/AddHeading/" class="btn btn-primary">Yeni Başlık Girişi</a>
    <br />
</body>
</html>


@*<h2>Index</h2>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Kategori</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.HeadingID</td>
                <td>@item.HeadingName</td>
                <td>@item.Category.CategoryName</td>
            </tr>
        }
    </table>
    <br />
    <a href="/Heading/AddHeading" class="btn btn-info">Yeni başlık Girişi</a>*@


@*<h2>Index</h2>
    <br />
    <table class="table table-hover table-bordered">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Kategori</th>
        </tr>
        @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.HeadingID</td>
                        <td>@item.HeadingName</td>
                        <td>@item.Category.CategoryName</td>
                    </tr>
                }
    </table>
    <br />
    <a href="/Heading/AddHeading/" class="btn btn-info">Başlık Ekle</a>*@


